body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.menu-link{
    color: red;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 36px;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
}
.menu-item{
    display: inline-block;
}
.img{
    width: 100%;
}
.menu-wrap{
    text-align: center;
    list-style: none;
}
#title{
    text-align: center;
}
.text{
    text-align: center; 
    font-weight: 400;
    font-size: 16px;
    margin:16px 67.5px;
}
.button{  
    margin: 0 auto;
    padding: 19px;
    margin: 575px auto 42px;
    width: 190px;
    display:block;
    background-color: red;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px; 
    text-align: center;
    text-decoration: none;
}
.copyright{
    text-align: right;
    display: block;
    margin: 0 105px 29px 0;
    font-size: 16px;
    font-weight: 700;
}